Repository bezhai/inner_bot_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check, docker-compose-build-check

ai-service-format-fix:
  name: Fix ai-service format (global)
  entry: bash -c 'cd apps/ai-service && uv run ruff format .'
  language: system
  pass_filenames: false

ai-service-build-check:
  name: Check ai-service build
  entry: bash -c 'cd apps/ai-service && uv build'
  language: system
  pass_filenames: false

main-server-lint-check:
  name: Check main-server lint (full project)
  entry: bash -c 'cd apps/main-server && npx eslint src --ext .ts'
  language: system
  pass_filenames: false

main-server-build-check:
  name: Check main-server build
  entry: bash -c 'cd apps/main-server && npm run build'
  language: system
  pass_filenames: false

docker-compose-build-check:
  name: Check docker-compose build
  entry: bash -c 'docker compose -f infra/main/compose/docker-compose.infra.yml -f infra/main/compose/docker-compose.apps.yml build ai-app app ai-service-arq-worker vectorize-worker recall-worker'
  language: system
  pass_filenames: false

fix(deploy-mcp): respect REPO_DIR env var override for prod repo path
  apps/deploy-mcp/server.py
Due: docker-compose-build-check

Revert "fix(deploy-mcp): respect REPO_DIR env var override for prod repo path"
  apps/deploy-mcp/server.py
Due: docker-compose-build-check

refactor(deploy-mcp): gitignore environments.json, add example template
  .gitignore
  Makefile
  apps/deploy-mcp/environments.example.json
Due: docker-compose-build-check

feat(staging): add compose overlay, env template, and clean up Makefile
  .gitignore
  Makefile
  docs/staging-environment.md
  infra/staging/.env.staging.example
  infra/staging/.makerc.example
  infra/staging/docker-compose.override.yml
Due: none

refactor: remove redundant deploy-mcp-staging-setup target
  Makefile
  docs/staging-environment.md
Due: none

feat(main-server): use post format for multi-message replies to support markdown and images
  apps/main-server/src/core/services/ai/strategies/multi-message-reply.strategy.ts
  apps/main-server/src/core/services/message/post-content-processor.test.ts
  apps/main-server/src/core/services/message/post-content-processor.ts
  apps/main-server/src/infrastructure/integrations/lark/basic/message.ts
Due: main-server-lint-check, main-server-build-check, docker-compose-build-check

feat(staging): make db-sync target env-file configurable
  .gitignore
  Makefile
Due: none

test: add version field to health endpoint for staging workflow verification
  apps/main-server/src/startup/server.ts
Due: main-server-lint-check, main-server-build-check, docker-compose-build-check

Path conditions:
  ai-service-format-fix: any of: ^apps/ai-service/.*\.py$
  ai-service-build-check: any of: ^apps/ai-service/.*\.py$
  main-server-lint-check: any of: ^apps/main-server/.*\.(ts|tsx|js|jsx)$
  main-server-build-check: any of: ^apps/main-server/.*\.(ts|tsx|js|jsx)$
  docker-compose-build-check: any of: ^(apps/.*|infra/main/compose/.*|packages/.*)$
