Repository bezhai/inner_bot_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-service-format-fix, ai-service-build-check, main-server-format-fix, main-server-build-check, main-server-lint-check

ai-service-format-fix:
  name: Fix ai-service format
  entry: bash -c 'cd ai-service && uv run ruff format .'
  language: system
  pass_filenames: false

ai-service-build-check:
  name: Check ai-service build
  entry: bash -c 'cd ai-service && uv build'
  language: system
  pass_filenames: false

main-server-format-fix:
  name: Fix main-server format
  entry: bash -c 'cd main-server && npx prettier --write src/**/*.ts'
  language: system
  pass_filenames: false

main-server-build-check:
  name: Check main-server build
  entry: bash -c 'cd main-server && npm run build'
  language: system
  pass_filenames: false

main-server-lint-check:
  name: Check main-server lint
  entry: bash -c 'cd main-server && npx eslint src --ext .ts'
  language: system
  pass_filenames: false

fix：装饰器顺序错误导致tool无法被正常读取
  ai-service/app/agents/bangumi/tools.py
Due: ai-service-format-fix, ai-service-build-check

remove buildin_tool
  ai-service/app/tools/builtin_tools.py
Due: ai-service-format-fix, ai-service-build-check

移除LangGraph聊天服务及相关实现，简化ChatService逻辑，保留原有服务的回复生成方式
  ai-service/app/services/chat/langgraph/__init__.py
  ai-service/app/services/chat/langgraph/graph.py
  ai-service/app/services/chat/langgraph/models.py
  ai-service/app/services/chat/langgraph/nodes.py
  ai-service/app/services/chat/langgraph/state.py
  ai-service/app/services/chat/langgraph/streaming.py
  ai-service/app/services/chat/langgraph_chat_service.py
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

refactor: 重构AI聊天服务架构，简化消息处理流程
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat/model.py
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

refactor: 优化generate_ai_reply函数架构
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

refactor: 精简测试文件，移除集成测试
  ai-service/pyproject.toml
  ai-service/pytest.ini
  ai-service/tests/conftest.py
  ai-service/tests/unit/test_services/test_ai_chat_service.py
  ai-service/tests/unit/test_services/test_chat_focused.py
  ai-service/tests/unit/test_services/test_chat_service.py
  ai-service/tests/unit/test_services/test_chat_simple.py
  ai-service/tests/unit/test_services/test_message_context.py
  ai-service/tests/unit/test_tools/test_manager.py
  ai-service/uv.lock
Due: ai-service-format-fix, ai-service-build-check

refactor: 更新Bangumi提示词获取逻辑
  ai-service/app/agents/bangumi/react_agent.py
  ai-service/app/services/chat/prompt.py
Due: ai-service-format-fix, ai-service-build-check

Remove unused param from get_bangumi_prompt method
  ai-service/app/services/chat/prompt.py
Due: ai-service-format-fix, ai-service-build-check

Add detailed refactoring plan for main server architecture
  .tasks/2025-08-01_main-server-refactor-plan.md
Due: none

Add main-server v2 comprehensive refactoring roadmap document
  .tasks/2025-08-01_main-server-v2-plan.md
Due: none

Update project roadmap with detailed task breakdowns and implementation steps
  .tasks/2025-08-01_main-server-v2-plan.md
Due: none

移除LangGraph重构任务文档，简化项目结构，确保代码库整洁。
  .tasks/2025-01-14_1_langgraph-refactor.md
  .tasks/2025-08-01_main-server-v2-plan.md
Due: none

feat(bot): 实现多机器人配置管理系统
  main-server/src/README.md
  main-server/src/dal/entities/bot-config.ts
  main-server/src/dal/entities/index.ts
  main-server/src/dal/entities/lark-base-chat-info.ts
  main-server/src/dal/repositories/bot-config-repository.ts
  main-server/src/index.ts
  main-server/src/middleware/bot-context.ts
  main-server/src/middleware/trace.ts
  main-server/src/services/ai/chat.ts
  main-server/src/services/integrations/lark-client.ts
  main-server/src/services/lark/basic/group.ts
  main-server/src/services/lark/events/enter.ts
  main-server/src/services/lark/events/service.ts
  main-server/src/types/env.d.ts
  main-server/src/utils/bot/bot-var.ts
  main-server/src/utils/bot/multi-bot-manager.ts
  main-server/src/utils/context.ts
  main-server/src/utils/http.ts
  main-server/src/utils/logger.ts
  main-server/src/utils/trace.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

临时禁止拉取远端镜像
  docker-compose.yml
Due: none

refactor(bot): 重构多机器人配置系统
  .env.example
  main-server/src/dal/entities/bot-config.ts
  main-server/src/dal/repositories/bot-config-repository.ts
  main-server/src/index.ts
  main-server/src/middleware/bot-context.ts
  main-server/src/services/lark/events/service.ts
  main-server/src/types/env.d.ts
  main-server/src/utils/bot/multi-bot-manager.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

feat(websocket): 增强WebSocket模式的事件处理上下文管理
  main-server/src/services/lark/events/service.ts
  main-server/src/utils/context.ts
  main-server/src/utils/websocket-context.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

恢复拉取最新镜像
  docker-compose.yml
Due: none

docs: 更新项目文档和配置文件
  .env.example
  main-server/README.md
  main-server/src/README.md
  main-server/src/services/integrations/README.md
  main-server/src/services/lark/README.md
  main-server/src/services/lark/events/README.md
  main-server/src/services/lark/events/event-registry.test.ts
  main-server/src/services/media/README.md
  main-server/src/services/message-processing/README.md
  main-server/src/startup/README.md
  main-server/src/types/env.d.ts
  main-server/src/utils/README.md
  main-server/src/utils/cache/README.md
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

ci(config): 调整 pre-commit 与 main-server 脚本，移除 lint-staged 和 simple-git-hooks
  .pre-commit-config.yaml
  main-server/package.json
Due: none

refactor(ai-service): 重构模型ID解析逻辑，从AIModel转向ModelProvider
  ai-service/app/langgraph_infra/model_builder.py
  ai-service/app/orm/crud.py
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

style: 修复代码格式问题
  ai-service/app/langgraph_infra/model_builder.py
Due: ai-service-format-fix, ai-service-build-check

refactor: 改进类型安全和代码质量
  ai-service/app/agents/bangumi/models.py
  ai-service/app/agents/bangumi/react_agent.py
  ai-service/app/agents/bangumi/tools.py
  ai-service/app/config/config.py
  ai-service/app/config/memory_service.py
  ai-service/app/config/openai_config.py
  ai-service/app/langgraph_infra/exceptions.py
  ai-service/app/orm/base.py
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat/model.py
  ai-service/app/services/chat_service.py
  ai-service/app/services/prompt_service.py
  ai-service/app/services/qdrant.py
  ai-service/app/services/search/allcpp.py
  ai-service/app/services/search/web.py
  ai-service/app/tools/schema_generator.py
  ai-service/app/types/chat.py
  ai-service/app/utils/logger/formatter.py
  ai-service/app/utils/middlewares/trace.py
  ai-service/pyrightconfig.json
  ai-service/ruff.toml
Due: ai-service-format-fix, ai-service-build-check

refactor: 清理内存配置和测试文件
  ai-service/app/config/memory_config.py
  ai-service/app/services/chat_service.py
  ai-service/scripts/test_memory_system.py
Due: ai-service-format-fix, ai-service-build-check

refactor(chat_service): 更新主模型配置，替换为GPT-4.1
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

Refactor chat service with ChatAgent for improved modularity and model fallback
  ai-service/app/services/chat/agent.py
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

refactor: 重构MongoDB客户端和消息存储架构
  core-architecture-refactoring-plan.md
  main-server/src/dal/mongo/client.ts
  main-server/src/dal/mongo/collection.ts
  main-server/src/services/lark/basic/card-manager.ts
  main-server/src/services/lark/events/decorator-factory.ts
  main-server/src/services/lark/events/handlers.ts
  main-server/src/services/message-store/basic.ts
  main-server/src/services/message-store/service.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

docs: 删除过时的架构重构和事件系统文档
  core-architecture-refactoring-plan.md
  docs/event_system.md
  docs/langgraph_refactor_plan.md
  docs/langgraph_refactor_summary.md
  main-server/src/services/lark/events/factory.ts
  main-server/src/services/message-store/user.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

refactor(lark): 重构卡片管理器为生命周期管理器并拆分职责
  main-server/package-lock.json
  main-server/src/services/ai/reply.ts
  main-server/src/services/lark/basic/card-api-client.ts
  main-server/src/services/lark/basic/card-builder.ts
  main-server/src/services/lark/basic/card-context-service.ts
  main-server/src/services/lark/basic/card-lifecycle-manager.ts
  main-server/src/services/lark/basic/card-manager.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

feat(tools): 添加话题总结工具功能
  ai-service/app/api/chat.py
  ai-service/app/clients/memory_client.py
  ai-service/app/tools/__init__.py
  ai-service/app/tools/topic_summary.py
  ai-service/app/utils/middlewares/trace.py
  ai-service/tests/unit/test_tools/test_topic_summary.py
Due: ai-service-format-fix, ai-service-build-check

fix(memory-client): 更新话题总结API端点路径
  ai-service/app/clients/memory_client.py
Due: ai-service-format-fix, ai-service-build-check

refactor(tools): 重构话题总结工具以使用历史消息和LLM总结
  ai-service/app/clients/memory_client.py
  ai-service/app/tools/topic_summary.py
  ai-service/app/types/memory.py
  ai-service/tests/unit/test_tools/test_topic_summary.py
Due: ai-service-format-fix, ai-service-build-check

Enhance AI chat service with tool status, retry, and error handling
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat/model.py
  ai-service/app/services/chat/tool_status.py
  ai-service/app/services/chat_service.py
  ai-service/app/types/chat.py
  docs/improvements-summary.md
  main-server/src/services/ai/chat-state-machine.ts
  main-server/src/services/ai/chat.ts
  main-server/src/services/lark/basic/card-lifecycle-manager.ts
  main-server/src/types/ai.ts
  main-server/src/types/chat.ts
  main-server/src/utils/sse/client.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-format-fix, main-server-build-check, main-server-lint-check

Update tool status messages with Bangumi and search tool mappings
  ai-service/app/services/chat/tool_status.py
  docs/improvements-summary.md
Due: ai-service-format-fix, ai-service-build-check

Yield choice for tool calls to notify caller of ongoing tool usage
  ai-service/app/services/chat/model.py
Due: ai-service-format-fix, ai-service-build-check

Fix tool status message handling and improve error resilience
  ai-service/app/services/chat/message.py
  main-server/src/services/ai/chat-state-machine.ts
  main-server/src/services/lark/basic/card-lifecycle-manager.ts
  main-server/src/utils/sse/client.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-format-fix, main-server-build-check, main-server-lint-check

Improve main server ai service interaction and ui (#7)
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat/model.py
  ai-service/app/services/chat/tool_status.py
  ai-service/app/services/chat_service.py
  ai-service/app/types/chat.py
  docs/improvements-summary.md
  main-server/src/services/ai/chat-state-machine.ts
  main-server/src/services/ai/chat.ts
  main-server/src/services/lark/basic/card-lifecycle-manager.ts
  main-server/src/types/ai.ts
  main-server/src/types/chat.ts
  main-server/src/utils/sse/client.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-format-fix, main-server-build-check, main-server-lint-check

refactor(ai): 优化导入语句，使用静态导入替换内联动态导入
  main-server/src/services/ai/chat-state-machine.ts
Due: main-server-format-fix, main-server-build-check, main-server-lint-check

Improve tool call handling in chat stream response processing
  ai-service/app/services/chat/message.py
Due: ai-service-format-fix, ai-service-build-check

Path conditions:
  ai-service-format-fix: any of: ^ai-service/.*\.py$
  ai-service-build-check: any of: ^ai-service/.*\.py$
  main-server-format-fix: any of: ^main-server/.*\.(ts|tsx|js|jsx)$
  main-server-build-check: any of: ^main-server/.*\.(ts|tsx|js|jsx)$
  main-server-lint-check: any of: ^main-server/.*\.(ts|tsx|js|jsx)$
