Repository bezhai/inner_bot_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check

ai-service-format-fix:
  name: Fix ai-service format (global)
  entry: bash -c 'cd ai-service && uv run ruff format .'
  language: system
  pass_filenames: false

ai-service-build-check:
  name: Check ai-service build
  entry: bash -c 'cd ai-service && uv build'
  language: system
  pass_filenames: false

main-server-lint-check:
  name: Check main-server lint (full project)
  entry: bash -c 'cd main-server && npx eslint src --ext .ts'
  language: system
  pass_filenames: false

main-server-build-check:
  name: Check main-server build
  entry: bash -c 'cd main-server && npm run build'
  language: system
  pass_filenames: false

refactor(chat): 移除工具状态重复发送的防护机制并添加调试日志
  ai-service/app/services/chat/message.py
  ai-service/app/services/chat/tool_status.py
  ai-service/app/services/chat_service.py
  ai-service/app/types/chat.py
Due: ai-service-format-fix, ai-service-build-check

refactor(chat): 优化工具调用日志记录位置
  ai-service/app/services/chat/message.py
Due: ai-service-format-fix, ai-service-build-check

fix(chat): 修复流式回复生成中的输出条件，增加工具调用反馈的检查
  ai-service/app/services/chat_service.py
Due: ai-service-format-fix, ai-service-build-check

refactor(chat): 简化工具状态消息，使用更亲切的口吻
  ai-service/app/services/chat/tool_status.py
Due: ai-service-format-fix, ai-service-build-check

Add Agent Framework with modular, extensible agent architecture
  ai-service/app/agents/framework/README.md
  ai-service/app/agents/framework/__init__.py
  ai-service/app/agents/framework/adapters/__init__.py
  ai-service/app/agents/framework/adapters/memory.py
  ai-service/app/agents/framework/adapters/model.py
  ai-service/app/agents/framework/adapters/tool.py
  ai-service/app/agents/framework/core/__init__.py
  ai-service/app/agents/framework/core/agent.py
  ai-service/app/agents/framework/core/node.py
  ai-service/app/agents/framework/core/orchestrator.py
  ai-service/app/agents/framework/examples.py
  ai-service/app/agents/framework/integration.py
Due: ai-service-format-fix, ai-service-build-check

Refactor agent framework: enhance tool tagging and memory adapters
  ai-service/app/agents/framework/README.md
  ai-service/app/agents/framework/adapters/memory.py
  ai-service/app/agents/framework/adapters/tool.py
  ai-service/app/agents/framework/core/agent.py
  ai-service/app/agents/framework/corrected_examples.py
  ai-service/app/agents/framework/tool_examples.py
Due: ai-service-format-fix, ai-service-build-check

Refactor agent framework to fully reuse existing chat service logic
  ai-service/app/agents/framework/IMPLEMENTATION_COMPARISON.md
  ai-service/app/agents/framework/adapters/model.py
  ai-service/app/agents/framework/core/agent.py
  ai-service/app/agents/framework/integration.py
Due: ai-service-format-fix, ai-service-build-check

Refactor agent architecture: move core AI logic from services to agents
  ai-service/app/agents/framework/ARCHITECTURE_CORRECTION.md
  ai-service/app/agents/framework/core/multi_model_agent.py
  ai-service/app/agents/framework/core/react_agent.py
  ai-service/app/agents/framework/integration.py
Due: ai-service-format-fix, ai-service-build-check

新增路由
  main-server/src/handlers/prompts.ts
  main-server/src/services/prompts/prompt.ts
Due: main-server-lint-check, main-server-build-check

feat(deploy): add proxy management for git operations
  scripts/auto_deploy.sh
Due: none

refactor(deploy): 优化代理设置逻辑，移除对Proxy命令的依赖
  scripts/auto_deploy.sh
Due: none

refactor(deploy): 将环境变量加载移至脚本开始处
  scripts/auto_deploy.sh
Due: none

feat(search): 使用arrow库简化时间戳转换逻辑
  ai-service/app/services/search/allcpp.py
  ai-service/pyproject.toml
  ai-service/uv.lock
Due: ai-service-format-fix, ai-service-build-check

Implement SSE chat interface with AI service migration
  main-server/MIGRATION_SUMMARY.md
  main-server/package-lock.json
  main-server/package.json
  main-server/src/core/ai/model-client.ts
  main-server/src/core/ai/stream-processor.ts
  main-server/src/handlers/chat/index.ts
  main-server/src/handlers/chat/sse.ts
  main-server/src/services/ai/ai-message-service.ts
  main-server/src/services/ai/chat-service.ts
  main-server/src/services/ai/context-service.ts
  main-server/src/startup/server.ts
  main-server/src/types/ai-chat.ts
Due: main-server-lint-check, main-server-build-check

Migrate AI service to main-server with full database and service integration
  main-server/MIGRATION_SUMMARY.md
  main-server/package-lock.json
  main-server/package.json
  main-server/src/core/ai/model-client.ts
  main-server/src/core/ai/stream-processor.ts
  main-server/src/dal/entities/ai-model.ts
  main-server/src/dal/entities/index.ts
  main-server/src/dal/entities/model-provider.ts
  main-server/src/services/ai/ai-message-service.ts
  main-server/src/services/ai/chat-service.ts
  main-server/src/services/ai/context-service.ts
  main-server/src/services/ai/model-config-service.ts
  main-server/src/services/ai/prompt-service.ts
  main-server/src/services/ai/tool-manager.ts
  main-server/src/services/ai/tool-status-service.ts
  main-server/src/services/integrations/memory-client.ts
  main-server/src/startup/application.ts
Due: main-server-lint-check, main-server-build-check

Refactor AI chat service: Remove SSE route, integrate local chat processing
  main-server/MIGRATION_SUMMARY.md
  main-server/src/handlers/chat/index.ts
  main-server/src/handlers/chat/sse.ts
  main-server/src/services/ai/chat.ts
  main-server/src/startup/server.ts
Due: main-server-lint-check, main-server-build-check

Checkpoint before follow-up message
  main-server/src/dal/entities/ai-model.ts
  main-server/src/dal/entities/index.ts
  main-server/src/services/ai/ai-message-service.ts
  main-server/src/services/ai/model-config-service.ts
Due: main-server-lint-check, main-server-build-check

Refactor AI service with database config, Redis reuse, and simplified model management
  main-server/MIGRATION_SUMMARY.md
  main-server/src/core/ai/model-client.ts
  main-server/src/dal/redis.ts
  main-server/src/services/ai/chat-service.ts
  main-server/src/services/ai/context-service.ts
  main-server/src/services/ai/model-config-service.ts
Due: main-server-lint-check, main-server-build-check

Add LangGraph-based AI agent system with multi-agent support
  main-server/package-lock.json
  main-server/package.json
  main-server/src/agents/README.md
  main-server/src/agents/agent-factory.ts
  main-server/src/agents/agent-manager.ts
  main-server/src/agents/agent-service.ts
  main-server/src/agents/base-agent.ts
  main-server/src/agents/benchmark.ts
  main-server/src/agents/demo.ts
  main-server/src/agents/examples.ts
  main-server/src/agents/index.ts
  main-server/src/agents/integration-example.ts
  main-server/src/agents/multi-agent.ts
  main-server/src/agents/test-agent.ts
  main-server/src/agents/tools/index.ts
  main-server/src/agents/types.ts
Due: main-server-lint-check, main-server-build-check

fix(agents): 注释reason_content累积逻辑
  ai-service/app/agents/main/agent.py
Due: ai-service-format-fix, ai-service-build-check

fix(chat_service): 修复chat_service返回值序列化问题
  ai-service/app/agents/main/tools/allcpp.py
  ai-service/app/agents/main/tools/web.py
  ai-service/app/services/chat_service.py
  ai-service/app/utils/decorators/__init__.py
  ai-service/app/utils/decorators/serializer.py
Due: ai-service-format-fix, ai-service-build-check

重构header context中间件系统
  ai-service/app/api/chat.py
  ai-service/app/main.py
  ai-service/app/utils/middlewares/__init__.py
  ai-service/app/utils/middlewares/trace.py
  main-server/src/handlers/prompts.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check

feat: 添加图片托管服务和相关类型定义
  .env.example
  main-server/src/services/integrations/image-host.ts
  main-server/src/services/integrations/lark-client.ts
  main-server/src/services/media/meme/meme.ts
  main-server/src/types/env.d.ts
  main-server/src/types/image-post.ts
Due: main-server-lint-check, main-server-build-check

feat: 添加图片处理API和内部HTTP认证
  .env.example
  ai-service/app/utils/middlewares/trace.py
  main-server/src/handlers/image-process.ts
  main-server/src/middleware/auth.ts
  main-server/src/middleware/bot-context.ts
  main-server/src/startup/server.ts
  main-server/src/types/env.d.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check

refactor(image): 将图片上传服务从第三方托管迁移到阿里云OSS
  main-server/package-lock.json
  main-server/package.json
  main-server/src/handlers/image-process.ts
  main-server/src/services/integrations/aliyun/oss.ts
  main-server/src/services/integrations/image-host.ts
  main-server/src/types/env.d.ts
Due: main-server-lint-check, main-server-build-check

refactor(image): 重构图片处理服务架构
  main-server/src/handlers/image-process.ts
  main-server/src/middleware/validation.ts
  main-server/src/services/integrations/aliyun/oss.ts
  main-server/src/services/media/image-processor.ts
Due: main-server-lint-check, main-server-build-check

refactor(image): 优化图片处理缓存策略和URL过期时间
  main-server/src/services/integrations/aliyun/oss.ts
  main-server/src/services/media/image-processor.ts
Due: main-server-lint-check, main-server-build-check

feat(image): 添加图片压缩功能
  main-server/package-lock.json
  main-server/package.json
  main-server/src/services/media/image-processor.ts
Due: main-server-lint-check, main-server-build-check

feat: 添加Redis分布式锁和优化图片处理流程
  main-server/src/dal/redis.ts
  main-server/src/services/integrations/aliyun/oss.ts
  main-server/src/services/media/image-processor.ts
  main-server/src/utils/cache/redis-lock.ts
Due: main-server-lint-check, main-server-build-check

feat: 集成图片处理和AI记忆功能
  ai-service/app/agents/basic/memory.py
  ai-service/app/clients/image_client.py
  ai-service/app/config/config.py
  main-server/src/models/message-content.ts
  main-server/src/models/message.ts
  main-server/src/services/ai/chat.ts
  main-server/src/services/http.ts
  main-server/src/services/lark/events/handlers.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check

feat: 聊天支持多模态交互
  main-server/src/services/message-processing/rule-engine.ts
Due: main-server-lint-check, main-server-build-check

fix(image_client): 添加必要的请求头以修复接口调用错误
  ai-service/app/clients/image_client.py
Due: ai-service-format-fix, ai-service-build-check

feat(image): 添加base64图片上传功能到飞书平台
  main-server/src/handlers/image-process.ts
  main-server/src/middleware/validation.ts
  main-server/src/services/media/image-processor.ts
  main-server/src/startup/server.ts
Due: main-server-lint-check, main-server-build-check

feat: 重构AI代理架构，新增图片生成代理和上下文管理
  ai-service/app/agents/bangumi/react_agent.py
  ai-service/app/agents/basic/agent.py
  ai-service/app/agents/basic/context.py
  ai-service/app/agents/basic/model_builder.py
  ai-service/app/agents/basic/origin_client.py
  ai-service/app/agents/img_gen/agent.py
  ai-service/app/agents/main/agent.py
  ai-service/app/agents/main/tools/__init__.py
  ai-service/app/clients/image_client.py
  ai-service/app/orm/crud.py
  ai-service/uv.lock
Due: ai-service-format-fix, ai-service-build-check

feat: 重构AI代理架构，新增图片生成代理和上下文管理
  ai-service/app/agents/basic/agent.py
  ai-service/app/agents/basic/context.py
  ai-service/app/agents/basic/memory.py
  ai-service/app/agents/img_gen/agent.py
  ai-service/app/agents/main/agent.py
Due: ai-service-format-fix, ai-service-build-check

chore: 升级AI服务Python版本至3.11
  ai-service/Dockerfile
  ai-service/pyproject.toml
  ai-service/ruff.toml
  ai-service/uv.lock
Due: none

add log
  ai-service/app/agents/img_gen/agent.py
Due: ai-service-format-fix, ai-service-build-check

refactor(image): 优化图片下载支持可选消息ID
  ai-service/app/agents/basic/memory.py
  ai-service/app/agents/img_gen/agent.py
  ai-service/app/clients/image_client.py
  main-server/src/services/integrations/lark-client.ts
  main-server/src/services/media/image-processor.ts
Due: ai-service-format-fix, ai-service-build-check, main-server-lint-check, main-server-build-check

Path conditions:
  ai-service-format-fix: any of: ^ai-service/.*\.py$
  ai-service-build-check: any of: ^ai-service/.*\.py$
  main-server-lint-check: any of: ^main-server/.*\.(ts|tsx|js|jsx)$
  main-server-build-check: any of: ^main-server/.*\.(ts|tsx|js|jsx)$
